.table {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	width: 450px;
	height: 400px;
	overflow: hidden;
}
.header {
	overflow: hidden;
}
.title {
	font-weight: bold; 
	text-align: center;
	background: #a1a1a1;
	color: #333;
	height: 30px !important;
}
.ender {
	float: left;
	width: 24px;
	height: 30px;
}
.body {
	height: 90%;
	width: 100%;
	overflow-y: auto;
	overflow-x: visible;
}

.row {
	border: 0;
	margin: 0;
	clear: both;
}
.entry {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 1px 0 0 1px;
	width: 100px;
	height: 30px;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.entry textarea {
	border: none;
	height: 28px;
	resize: none;
	overflow: hidden;
	text-align: center;
	width: 98px;
	padding: 4px;
	float: left;
	z-index: 10;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.entry textarea:focus {
	border: 2px solid #333; 
}
.entry .field_controller {
	float: right;
	padding: 4px 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.entry .field_controller span { cursor: pointer; opacity: 0.4; }
.entry .field_controller span:hover { opacity: 1; }

.entry.number { width: 60px; }
.entry.number textarea { width: 38px; position: relative }
.entry.number .field_controller { width: 20px; }

.entry.block { width: 200px; }
.entry textarea.block { width: 200px; text-align: left; }
.entry.block.open { overflow: visible; }
.entry.block.open textarea { position: relative; z-index: 100; background: #fff; resize: auto; }


.ui-multiselect-menu { 
	display: none; 
	position: relative; 
	top: 0; 
	left: 0; 
	width: auto !important;
	max-width: 160px;
	height: 150px;
	overflow: auto; 
	background-color: #fff; 
	border: 2px solid #ddd;
	text-align: left;
	z-index: 10;
}
.ui-multiselect-menu input, .ui-multiselect-menu span, .ui-multiselect-menu label { font-size: 11px; }
button.trigger, button.ui-multiselect { width: 80px; color: #747474 }
.ui-multiselect.ui-state-active { color: #622; font-weight: bold }
.ui-multiselect-menu ul {  list-style: none; margin: 0 0 0 -4px; padding: 0 0 0 10px; text-align: left }
.ui-multiselect-menu ul li { margin: 4px 0 }
.ui-multiselect-menu ul li span { padding: 0 6px }
.ui-widget-header ul { margin: 0; font-size: 8px; padding: 0 }
.ui-widget-header ul li {  margin: 2px 0; padding: 0 }
.ui-widget-header ul li.other {  margin: 2px 0; padding: 0 }
.ui-widget-header a.ui-multiselect-close :before { content: 'X '; }
.ui-widget-header a.ui-multiselect-close :after { content: 'Close'; }